<app-child (clicked)="clickedChangedHandler($event)"></app-child>

<!-- <button
  type="button"
  class="btn-open"
  aria-label="Open"
  (click)="open(content, -1)"
>
  Add Emplyoee
</button> -->
<div class="p-3 text-center">
  <h3>Angular 8 + Spring Boot 2 CRUD Tutorial</h3>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="firstname">First Name</label>
        <div class="input-group">
          <input
            id="firstname"
            class="form-control"
            placeholder="John"
            name="firstname"
            [(ngModel)]="addFirstNameValue"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="lastname">Last Name</label>
        <div class="input-group">
          <input
            id="lastname"
            class="form-control"
            placeholder="Doe"
            name="lastname"
            [(ngModel)]="addLastNameValue"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="emailaddress">Email Address</label>
        <div class="input-group">
          <input
            id="emailaddress"
            class="form-control"
            placeholder="john@mail.com"
            name="emailaddress"
            [(ngModel)]="addEmailValue"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="updateEmployee()"
    >
      Save
    </button>
  </div>
</ng-template>

<!-- Table -->
<div class="px-5">
  <div class="p-2">
    <h3>Employee List</h3>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email Address</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees">
        <td>{{ emp.employeeFirstName }}</td>
        <td>{{ emp.employeeLastName }}</td>
        <td>{{ emp.employeeEmailAddress }}</td>
        <td>
          <button
            type="button"
            (click)="open(content, emp.employeeId)"
            class="btn btn-primary"
          >
            Update
          </button>
          &nbsp;
          <button
            type="button"
            (click)="deleteEmployee(emp.employeeId)"
            class="btn btn-secondary"
          >
            Delete
          </button>
          &nbsp;
          <button type="button" class="btn btn-secondary">Details</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
